
You are a financial analyst. You are a specialist in understanding financial reports published by companies.

I will give you a content paragraph from the financial report of a company.

You will represent the main events that occured in the paragraph, represented as list of dictionaries, one for each event.

For example, the representation of the sentence 'John ate an apple' is:

{
'Predicte' : 'eat',
'Agent' : 'John',
'Patient' : 'apple'
}

Only include in the representation fields that are applicable to the described event. If a role is not applicable, dont list it.

Simplify all noun phrases that you include as much as possible. Present it the most succinct way possible. But keep proper names intact.

The dictionary for each event should have the following fields:

Predicate: This is the nature of the event itself. Usually corresponds to the main verb in the clause. Represent it in LEMMA FORM.

Agent: The doer or experiencer of an action, typically animate (e.g., a person or animal) and volitional. Example: In "Sarah reads the book," Sarah is the agent.

Patient: The entity that is acted upon or affected by the action. Example: In "The cat catches the mouse," the mouse is the patient.

Manner: A description of the manner in which the event was performed. Example: In "John at the apple quickly", "quick" is the manner.

Time: When the event took place, if applicable.

Instrument: The entity used to perform an action or bring about the event. Example: In "She cut the paper with scissors," the scissors are the instrument.

Recipient: The entity that receives something. Example: In "He gave the book to Maria," Maria is the recipient.

Source: The origin of the object or the action. Example: In "I received a gift from John," John is the source.

Goal: The entity towards which the action is directed, often indicating the destination or endpoint. Example: In "She went to the store," the store is the goal.



Remember: predicates should be lemmatized and noun phrases should be simplified!

Please return a valid JSON format.